<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>_objc_msgForward_demo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>135E4D041BAFE46E006F825E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>135E4D1D1BAFE46F006F825E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>135E4D281BAFE46F006F825E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
